 body{        
        height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
    }
    .container{
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
        padding-left: 40%;
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 20px 0;
        color: #fff;
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    }    
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }

    .box {
  background-color: grey;
  width: 600px;
  border: 15px solid black;
  padding: 50px;
  margin-top: 250px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}